/*
 *  this file is part of LifeLike
 *  Copyright (C) 2019 contact@t3Y.eu
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


html {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #fcfcfc;
    color: #073642;
}

h1 {
    margin: 1em 0 0 0;

    border-bottom: 1px solid grey;
    text-align: center;
}

a {
    text-decoration: none;
    color: #758bb3;
}

#canvas {
    border: 1px solid grey;
    cursor: crosshair;
    padding: 0;
    margin: auto;
    display: block;
}
.canvasContainer {
    padding: 1em 0 1em 0;
    border-bottom: 1px solid grey;
}
.toolBox {
    display: flex;
    flex-wrap: wrap;
}

.toolBox > div {
    margin: 0 auto 0 auto;
}
#settings .left {
    padding-right: 1em;
}
#submitSettings {
    float: right;
}

.buttonRow {
    margin: 1em 0 0 0;
    display: flex;
}
button {
    background-color: #758bb3;
    color: #073642;
    border: none;
    padding: 0.5em;
    margin: auto;
    border-radius: 5px;
}

select {
    width: 10em;
    background-color: #fcfcfc;
    color: #073642;
    border: 1px solid #758bb3;
    margin-bottom: 1em;
}
input[type="submit"] {
    background-color: #758bb3;
    color: #073642;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
}

input[type="number"] {
    width: 3em;
    background-color: #fcfcfc;
    color: #758bb3;
    font-weight: bold;
    border: none;
}

input[type="color"] {
    opacity: 0;
    width: 15px;
}

.colorWrapper {
    border-radius: 10px;
}

.disabled {
    cursor: default;
    opacity: 0.5;
}

.enabled {
    cursor: pointer;
    opacity: 1;
}

.selectedButton {
    cursor: default;
    border: 2px solid #657ba3;
}
.otherButton {
    cursor: pointer;
}

.longtext {
    width: 76%;
    margin: auto;
    text-align: justify;
}
@media (max-width: 36em ) {
    .longtext {
        width: 97%;
    }
}
i {
    color: #657b83;
}

.defTable {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: left;
}

.defTable th {
    border: 1px solid grey;
    padding: 0.5em;
    background-color: #dcdcdc;
    text-align: center;
}

.defTable td {
    border: 1px solid grey;
    padding: 0.4em;
}
